@model App.Models.Blog.Category
@using App.Menu
@inject AdminSidebarService _AdminSidebarService


@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "Chi tiết chuyên mục";
}

<p>
    <strong>@Html.DisplayNameFor(model => model.Title):</strong>
    @Html.DisplayFor(modelItem => Model.Title)
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.Slug):</strong>
    @Html.DisplayFor(modelItem => Model.Slug)
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.Description):</strong>
    @Html.Raw(@Model.Description))
</p>



<div>
    <a class="btn btn-info" asp-action="Index">Thoát</a>
</div>

@{
    _AdminSidebarService.SetActive("Category", "Create", "Blog");
}
@section Sidebar {
    @Html.Raw(_AdminSidebarService.renderHtml());
}
