@model UserListModel
@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "Danh sách các thành viên";
    var iditem = "";
    var comfirm = true;
    var switchid = "";
    var buttonid = "";



}
<partial name="_StatusMessage"></partial>
<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Xác nhận Email</th>
        <th>Tác vụ</th>

    </tr>
@*     @for(var i; i <=Model.users.Count(); i++)
    {
        
    }
 *@
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>

            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-action="AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-action="AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>


            <td>
                @{
                    iditem = "comfirm" + user.Id;
                    switchid = "switch" + user.Id;
                    buttonid = "btn" + user.Id;
                }


                
                <form id="deleteForm" asp-action="ChangeEmailComfirmed" asp-route-id="@user.Id" method="post">
                    @* submit dữ liệu *@
                    <input type="hidden" asp-route-id="@user.Id" name="@user.EmailConfirmed" />
                    <input type="hidden" name="EmailConfirmed" id="emailConfirmedField"/>

                    @* switch  *@
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="@switchid" data-toggle="modal" data-target="#@iditem" data-value="@user.EmailConfirmed">
                        <label class="form-check-label" for="@switchid">@user.EmailConfirmed</label>

                    </div>

                    @* model hiểu thị giao diện xác nhận *@
                    <div class="modal fade" id="@iditem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Vui lòng xác nhận</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @{
                                        if (user.EmailConfirmed)
                                        {
                                            <p>Bạn muốn gỡ quyền truy cập của <strong>
                                            @user.UserName
                                                </strong> </p>
                                        }else
                                        {
                                            <p>Bạn cho phép <strong> @user.UserName</strong> quyền truy cập  </p>
                                        }
                                    }
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" id="@buttonid" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                                    <form asp-action="ChangeEmailComfirmed" asp-route-id="@user.Id">
                                        <input type="hidden" asp-route-id="@user.Id" />
                                        <input type="submit" value="Đồng ý" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </form>


                <script>
                    document.addEventListener('DOMContentLoaded', function () {

                        var emailConfirmedSwitch = document.getElementById('@switchid');

                        var emailConfirmedCheckbox = document.getElementById('@switchid');
                        var dataValue = emailConfirmedCheckbox.getAttribute('data-value');

                        var btnexit = document.getElementById('@buttonid');



                        var addButton = document.getElementById('@buttonid');

                        // Lắng nghe sự kiện click của thoát
                        btnexit.addEventListener('click', function () {
                            // Gọi hành động của button
                            emailConfirmedSwitch.click();
                        });


                        // Kiểm tra giá trị của data-value
                        if (dataValue === 'True' || dataValue === 'true') {
                            emailConfirmedCheckbox.checked = true;
                        } else {
                            emailConfirmedCheckbox.checked = false;
                        }
                    });
                </script>

            </td>

            <td>
                <a class="btn btn-success btn-sm" asp-action="SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>


    }




</table>







@{
    var pagingmodel = new PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPages,
        generateUrl = (int? p) => Url.Action("Index", new { p = p})
    };
}









<partial name="_PagingXTL" model="@pagingmodel" />
@{
    _AdminSidebarService.SetActive("User", "Index", "Identity");
}
@section Sidebar {
    @Html.Raw(_AdminSidebarService.renderHtml());
}